<% provide(:about_active,"active") %>

<div class="card flex-md-row mb-4 box-shadow h-md-250", style="width: 50rem;">
            <div class="card-body d-flex flex-column align-items-start">
              <h3 class="mb-0">
                <a class="text-dark" href="#">About Me</a>
              </h3>
              <p class="card-text mb-auto pt-3"> Hi 👋 Im Sam Rossilli. I'm a budding Systems Engineer. 3rd-year student at University of Colorado: Colorado Springs Studying Data Analytics and Systems Engineering. </p>
            

            </div>
          <%= image_tag("me.jpg", :alt => "myPicture" ,height: '320') %>
          
  </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
