<div class='col-sm-6 col-lg-4'>
  <div class="card mt-4 shadow bg-white rounded">
    <%= link_to project do %>
      <img class="card-img-top" src="https://dummyimage.com/600x400/696969/fff" alt="Card image cap">
    <% end %>

    <div class="card-block">
      <h4 class="card-title"><%= link_to project.title, project %></h4>
      <%= link_to project do %>
        <p class="card-text"><%= truncate(project.description, length: 130) %></p>
      <% end %>
      
    </div>
  </div>
</div>