// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "navbar";
@import "footer";
@import "projects";

a{
    color: rgb(39, 39, 39);
    text-decoration:none; 
}
a:hover{
    color: rgb(39, 39, 39);
    text-decoration:none; 
}

div.container{
    padding-bottom: 100px;
}